html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F8FAFC;
}

*, *::before, *::after { box-sizing: border-box; }

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
